@charset "UTF-8";
/*-----Обнуление-----*/
:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  outline: none;
}

*:focus,
*:active {
  outline: 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol,
li {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*-----END Обнуление-----*/
html,
body {
  height: 100%;
  font: 16px/1.4 'IBM Plex Sans', sans-serif;
  background: #1a1a1a;
}

.wrapper {
  height: 100%;
}

.container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "IBM Plex Sans";
  font-size: 18px;
  line-height: 140%;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
  background: #ff9600;
  padding: 17px 41px;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn:hover {
  background: #14b9f1;
}

.btn__link {
  color: #fff;
}

.header {
  position: fixed;
  top: 8px;
  left: 0;
  width: 100%;
  z-index: 50;
  padding: 10px 0px 0px 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__logo {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 225px;
          flex: 0 1 225px;
  z-index: 3;
}

.header__btn {
  position: relative;
  z-index: 3;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.logo__img {
  display: block;
}

.menu__list {
  position: relative;
  right: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.menu__item {
  position: relative;
  margin: 0px 7px 0px;
  padding: 10px 18px;
}

.menu__item:first-child {
  margin-left: 8px;
}

.menu__link {
  font-family: "IBM Plex Sans";
  font-size: 18px;
  line-height: 140%;
  font-weight: 600;
  color: #fff;
  color: #fff;
  letter-spacing: 0.5px;
}

.menu__link.parent {
  margin-right: 22px;
}

.menu__link:hover {
  color: #ff9600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__arrow {
  color: #fff;
}

body.mouse .menu__item:hover .arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.arrow {
  position: absolute;
  top: 16px;
  right: 17px;
  -webkit-transition: .3s;
  transition: .3s;
}

.arrow.active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.fa-angle-right {
  color: #fff;
  margin-left: 5px;
}

.sub-menu__list {
  width: 220px;
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: 0;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  overflow: hidden;
}

.sub-menu__item {
  position: relative;
  padding: 12px 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.sub-menu__item:hover {
  background: #f9f9fb;
}

.sub-menu__item:not(:last-child) {
  border-bottom: 1px solid rgba(226, 226, 226, 0.5);
}

.sub-menu__link {
  display: inline-block;
  font-family: "IBM Plex Sans";
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  color: #212934;
  padding: 5px 10px;
}

body.mouse .menu__item:hover .sub-menu__list {
  visibility: visible;
  opacity: 1;
}

body.touch .sub-menu__list.open {
  visibility: visible;
  opacity: 1;
}

body.touch .arrow {
  display: block;
}

.header__burger {
  display: none;
}

.bar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  -webkit-animation: fixedMenu 1s forwards;
          animation: fixedMenu 1s forwards;
  background: rgba(12, 53, 67, 0.7);
  padding: 5px 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@-webkit-keyframes fixedMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fixedMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Стили для блока с контентом*/
.content {
  position: relative;
  color: grey;
  padding-top: 100px;
}

.content::before {
  content: "";
  position: absolute;
  top: -68px;
  left: 0;
  width: 100%;
  height: 79px;
  background: url(../img/separator.svg) no-repeat;
}

.content__text {
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .menu__list {
    right: 0;
  }
  .menu__item,
  .menu__item:first-child {
    margin: 0;
  }
}

@media (max-width: 1100px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    background: #0c3543;
    padding: 10px;
  }
  .header::before {
    background-color: #0c3543;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 185px;
            flex: 0 1 185px;
  }
  .header__btn {
    padding: 10px 40px;
    margin-left: auto;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    margin-left: 20px;
    z-index: 3;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger.active::before {
    top: 9px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__burger.active::after {
    bottom: 9px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 80px 15px;
    overflow: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu.active {
    top: 70px;
    padding: 20px 0px 20px 0px;
  }
  .menu__list {
    display: block;
    right: 0;
  }
  .menu__item {
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
  }
  .menu__item:first-child {
    margin-left: 0;
  }
  .menu__link.parent {
    margin-right: 0;
  }
  .menu__link {
    display: block;
    padding: 10px 18px;
    color: #0c3543;
  }
  .menu__arrow {
    color: #0c3543;
  }
  .sub-menu__list {
    position: relative;
    top: 5px;
    display: none;
    width: 100%;
    border-radius: 0;
  }
  body.touch .sub-menu__list.open {
    display: block;
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .header__body {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header__btn {
    position: absolute;
    top: 84px;
    width: 100%;
  }
  .menu.active {
    top: 160px;
  }
}

.hero {
  min-height: 750px;
  background-color: #fff;
  background: url(../img/hero-bg.webp) no-repeat;
  background-position: top center;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */