@charset "UTF-8";
/*-----Обнуление-----*/
:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  outline: none;
}

*:focus,
*:active {
  outline: 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol,
li {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*-----END Обнуление-----*/
html,
body {
  height: 100%;
  font: 16px/1.4 'IBM Plex Sans', sans-serif;
  background: #1a1a1a;
}

.wrapper {
  height: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background: #ff9600;
  padding: 20px 40px;
  border-radius: 5px;
}

.btn:hover {
  background: #14b9f1;
}

.btn__link {
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__logo {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 225px;
          flex: 0 1 225px;
  z-index: 3;
}

.header__btn {
  position: relative;
  z-index: 3;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  z-index: 2;
}

.logo__img {
  display: block;
}

.menu__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.menu__item {
  position: relative;
  margin: 0px 30px 0px 0px;
}

.menu__link {
  color: #fff;
}

.menu__link.parent {
  margin-right: 30px;
}

.menu__arrow {
  color: #fff;
}

body.mouse .menu__item:hover .arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.arrow {
  position: absolute;
  top: 4px;
  right: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.arrow.active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.fa-angle-right {
  color: #fff;
}

.sub-menu__list {
  visibility: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 40px;
  left: 0;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.sub-menu__item {
  position: relative;
}

.sub-menu__link {
  display: inline-block;
  color: #212934;
  padding: 5px 10px;
}

body.mouse .menu__item:hover .sub-menu__list {
  visibility: visible;
  opacity: 1;
}

body.touch .sub-menu__list.open {
  visibility: visible;
  opacity: 1;
}

body.touch .arrow {
  display: block;
}

.header__burger {
  display: none;
}

/*Стили для блока с контентом*/
.content {
  color: grey;
  padding-top: 100px;
}

.content__text {
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 60px;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 185px;
            flex: 0 1 185px;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    margin-left: 20px;
    z-index: 3;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger.active::before {
    top: 9px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__burger.active::after {
    bottom: 9px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 80px 15px;
    overflow: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu.active {
    top: 0;
  }
  .menu__list {
    display: block;
  }
  .menu__item {
    margin: 0 0 10px;
  }
  .sub-menu__list {
    position: relative;
    display: none;
    width: 100%;
  }
  body.touch .sub-menu__list.open {
    display: block;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */