// Обнуление
@import "_zero";

//Переменные
$f: #fff;
$dark: #222222;
$orange: #ff9600;
$light-blue: #14b9f1;
$blue: #212934;
$dark-blue: #0c3543;
$light-lilac: #f9f9fb;

//Миксин
@mixin font($ff, $fz, $lh, $fw, $c) {
  font-family: $ff;
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
  color: $c;
}

html,
body {
  height: 100%;
  font: 16px/1.4 'IBM Plex Sans', sans-serif;
  background: rgb(26, 26, 26);
}

.wrapper {
  height: 100%;
}

.container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  @include font ('IBM Plex Sans', 18px, 140%, 700, $f);
  letter-spacing: 0.5px;
  background: $orange;
  padding: 17px 41px;
  border-radius: 5px;
  transition: .3s;

  &:hover {
    background: $light-blue;
  }

  &__link {
    color: $f;
  }
}


//Стили для header
@import "_header";

//Стили для секции hero
@import "_hero";